#main {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #666;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: lightsteelblue;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;

}

#geo-area, #details-area, #chart-area {
    background-color: #efefef;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 10px 10px 0px 10px;
}

.tooltip {
    opacity: 1;
}

.tooltip .tooltip-inner {
    background-color: #999;
}

.slider-handle.round {
    background-image: linear-gradient(to bottom,#979797 0,#707070 100%);
}

.country {
    fill: #cccccc;
    stroke: #333333;
    stroke-width: 0.5;
}

.country:hover {
    fill: #aaaaaa;
}
